.content-title-text{
  margin-top: 0.5rem !important;
}
.content-title-text.icon-car{
  margin-top: 0.1rem !important;
  margin-left: 0.6rem;
}
.main-menu-content .feather{
  height: 20px !important;
  width: 20px !important;
}
