.show-resource-folder {
  .feather-video {
    height: 3rem;
    width: 3rem;
    color: #b2b2b2 !important;
  }
}

.iframe-video iframe{
  width: 100% !important;
}
.card-img-top{
  background-color: #eaeaea;
  height: 5.5rem;
}
